/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define FN 1
#define BT 2

&mt {
    tapping-term-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0    &kp MINUS &kp EQUAL &kp BSPC
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I     &kp O    &kp P     &kp LBKT  &kp RBKT  &kp BSLH
&mt LALT CAPS   &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K     &kp L    &kp SEMI  &kp SQT   &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT  &kp SLASH &mo FN &soft_off
&kp RGUI  &kp LCTRL                    &kp SPACE                      &kp DEL &kp RSHFT
            >;
sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

fn_layer {
            bindings = <
&kp GRAVE     &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7   &kp F8        &kp F9    &kp F10   &kp F11 &kp F12 &kp DEL
&trans &kp PSCRN &kp SLCK &kp PAUSE_BREAK &trans &trans &trans &trans &trans   &trans    &trans    &trans  &trans  &trans 
&trans &kp INS &kp HOME &kp PG_UP &trans &trans &trans &trans &trans   &trans  &trans    &trans    &trans
&trans &kp DEL &kp END &kp PG_DN &trans &to BT &trans &trans &trans &trans     &trans &trans  &kp C_MUTE
&trans &trans               &trans                      &trans   &trans
            >;
sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        bt_layer {
            bindings =<
&to DEFAULT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &none &none &none &none &none &none
&none &none &none &none &sys_reset &none &none &none &none &out OUT_TOG &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &bt BT_CLR &bt BT_CLR_ALL	 &none &none &none &none &none &none &none &bootloader
&none &none             &none                   &none &none
>;
sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
};

};
